{% extends "::base.html.twig" %}

{% block title %}ConversationBundle:Message:view{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-sm-3 col-sm-offset-3">
			<h1>{{ conversationLabel }}</h1><br><br>
			<h3>
			{% for participant in participants %}
			        	<li>{{ participant }}</li>
			{% endfor %}
			</h3>
			<div class="col-sm-3 col-sm-offset-3">
				<a href="{{ app.request.baseUrl }}/home">
					<div class="backButton">Retour</div>
				</a>
		</div>
		</div>
		<div class="col-sm-3">
			<h1>Voici les messages</h1><br>
			{% for message in conversation %}
			        	<li>{{ message.getText }}</li> 
			{% endfor %}
		</div>
	</div>
	<div class="row col-sm-6 col-sm-offset-3" style="text-align:right">
		<div class="sendMessageForm">
			<input id="message" 	 type="text" placeholder="Ecrire un message"/>
			<input id="conversation" type="hidden" value="{{ conversationid }}"/>
			<input id="userid" 		 type="hidden" value="{{ user }}"/>
			<button id="sendMessage" class="sendButton" value="{{ app.request.baseUrl }}/message" type="button">Envoyer</button>
		</div>
	</div>
	
{% endblock %}
